<header style="margin-bottom: 50px">
  <nav class="navbar navbar-fixed-top" style="background-color: #232f3e;">
    <div class="container relative">
      <div class="row">
        <table class="nav navbar-nav navbar-left">
        	<tr>
        		<td>
        			<%= link_to image_tag("/assets/logo.jpg", class:"logo-click", style:"width: 60px; height: 60px; border-radius: 50%; margin-top: 7px;"), "/admins/top", style:"width: 60px; height: 60px; border-radius: 50%; margin-top: 7px;" %>
        			<style>
        			/*カーソルを乗せた時に、underlineが出るのをなくす*/
        			.logo-click:hover {
        				text-decoration: none;
        				background-color: #232f3e;
        			}
        			/*クリック時に、ボタンが凹んだように見せる*/
        			.logo-click:active {
        				-webkit-transform: translateY(4px);
        				transform: translateY(4px);/*下に動く*/
        				box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
        				border-bottom: none;
        			}

        			/*カーソルを乗せた時に、underlineが出るのをなくす*/
        			.btn:hover {
        				text-decoration: none;
        				background-color: #232f3e;
        			}
        			/*クリック時に、ボタンが凹んだように見せる*/
        			.btn:active {
        				-webkit-transform: translateY(4px);
        				transform: translateY(4px);/*下に動く*/
        				box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
        				border-bottom: none;
        			}
        			</style>
        		</td>
        	</tr>
        </table>
            <ul class="nav navbar-nav navbar-right">
            <% if admin_signed_in? %>
                <li style="margin-top: 10px;">
                  <%= link_to '商品一覧', admins_items_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 5px;" %>
                </li>
                <li style="margin-top: 10px; margin-left: 10px;">
                  <%= link_to '会員一覧', admins_customers_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 5px;" %>
                </li>
                <li style="margin-top: 10px; margin-left: 10px;">
                  <%= link_to '注文履歴一覧', admins_orders_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 5px;" %>
                </li>
                <li style="margin-top: 10px; margin-left: 10px;">
                  <%= link_to 'ジャンル管理', admins_categories_path, class:"btn btn-sm", style:"background-color: white; color: black; padding: 5px;" %>
                </li>
                <li style="margin-top: 10px; margin-left: 10px;">
                  <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"btn btn-sm", style:"background-color: white; color: black; padding: 5px;" %>
                </li><br>
                <li style="margin: px;">
                	<%= form_tag(admins_search_path,:method => 'get') do %>
                	<table class="input-group">
                		<tbody>
                			<tr>
                				<td><%= select_tag 'range', options_for_select([["会員", "1"], ["商品", "2"]]), id: 'range', style:"margin-right: 10px;" %>
                				</td>
                				<td style="margin-right: 20px;">
                					<%= select(@search_content, :search_method, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
                				</td>
                				<td><%= text_field_tag :search_search, "", placeholder: " 検索", class:"glyphicon glyphicon-search", style:"margin-left: 10px; border-radius: 10px" %>
                				</td>
                				<td><input type="submit", value="&#xf002", class="fas fa-search", style="background-color: transparent; position: relative; top: 1px; right: 30px; border-radius: 10px; border-color: transparent; outline: none;">
                					<!-- submit_tagだとfont awesomeが使えないのでinputタグに変更 -->
                					<!-- <%= submit_tag '検索', :name => nil, class:"btn btn-sm", style:"padding: 1px; background-color: transparent; color: red; position: relative; top: 2px; right: 20px" %> -->
                				</td>
                			</tr>
					  	</tbody>
					</table>
					<% end %>
                </li>
            <% end %>
            </ul>
        </div>
    </div>
  </nav>
</header>
