<%= render 'admins/list' %>
<!-- adminsのヘッダー検索の検索結果表示画面の追加-->
<div class="container">
  <div class="row">
    <% if @range == "1" %>
      <h3 style="background-color: #DDDDDD;width: 200px;text-align: center;margin-top:30px;margin-bottom:20px;margin-left:10px">会員検索結果</h3>
      <% @customers.each do |customer| %>
        <table class="table table-bordered" style="border: 1px solid black; border-color:black; margin-bottom: 50px">
          <tbody>
            <tr>
              <td class="col-xs-2" style="background-color: #DCDCDC; border-color: black;">氏名</td>
              <td class="col-xs-3" style="border-color: black;">
                <%= link_to edit_admins_customer_path(customer) do %>
                  <%= customer.last_name %>  <%= customer.first_name %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="col-xs-2" style="background-color: #DCDCDC; border-color: black;">カナ</td>
              <td class="col-xs-3" style="border-color: black;"><%= customer.kana_last_name %>  <%= customer.kana_first_name %></td>
            </tr>
            <tr>
              <td class="col-xs-2" style="background-color: #DCDCDC; border-color: black;">郵便番号</td>
              <td class="col-xs-3" style="border-color: black;"><%= customer.postcode %></td>
            </tr>
            <tr>
              <td class="col-xs-2" style="background-color: #DCDCDC; border-color: black;">住所</td>
              <td class="col-xs-3" style="border-color: black;"><%= customer.address %></td>
            </tr>
            <tr>
              <td class="col-xs-2" style="background-color: #DCDCDC; border-color: black;">電話番号</td>
              <td class="col-xs-3" style="border-color: black;"><%= customer.phone_number %></td>
            </tr>
            <tr>
              <td class="col-xs-2" style="background-color: #DCDCDC; border-color: black;">メールアドレス</td>
              <td class="col-xs-3" style="border-color: black;"><%= customer.email %></td>
            </tr>
          </tbody>
        </table>
      <% end %>

    <% else %>

      <h3 style="background-color: #DDDDDD;width: 200px;text-align: center;margin-top:30px;margin-bottom:20px;margin-left:10px">ケーキ検索結果</h3>
      <% @items.each do |item| %>
        <div class="col-xs-3">
          <table>
            <tr>
              <th>
                <%= link_to edit_admins_item_path(item) do %>
                  <%= attachment_image_tag item, :image ,:fill, 200, 120 %>
                <% end %>
              </th>
            </tr>
            <tr>
              <th><%= item.name %></th>
            </tr>
            <tr>
              <th>¥<%= item.price %></th>
            </tr>
          </table>
        </div>
      <% end %>
    <% end %>
  </div>
</div>