<%= render 'customers/list', customer: @customer %>
<div class="container">
    <div class="row">
        <h3 style="background-color: #DDDDDD; width: 160px; text-align: center; margin-top:50px;margin-left:40px;">注文履歴一覧</h3>

        <table class="table table-bordered" style="margin-top: 20px">
            <tbody>
                <tr>
                    <td class="col-xs-1" style="background-color: #DCDCDC; border-color: black;"><h5>注文日</h5></td>
                    <td class="col-xs-4" style="background-color: #DCDCDC; border-color: black;"><h5>配送先</h5></td>
                    <td class="col-xs-1" style="background-color: #DCDCDC; border-color: black;"><h5>注文商品</h5></td>
                    <td style="width: 6%; background-color: #DCDCDC; border-color: black;"><h5>支払金額</h5></td>
                    <td class="col-xs-1" style="background-color: #DCDCDC; border-color: black;"><h5>ステータス</h5></td>
                    <td class="col-xs-1" style="background-color: #DCDCDC; border-color: black;"><h5>注文詳細</h5></td>
                </tr>
                <% @orders.each do |order| %>
                <tr>
                    <td style="border-color: black;"><%= order.created_at.to_s(:datetime_jp) %></td>
                    <td style="border-color: black;"><%= order.postcode %><br>
                        <%= order.place %></td>
                    <td style="border-color: black;"></td>
                    <td style="border-color: black;"></td>
                    <td style="border-color: black;"><%= order.status %></td>
                    <td style="border-color: black;"><%= link_to "表示する", order_path(order), class:"btn btn-primary" %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
