<h3 style="background-color: #DDDDDD;width: 250px;text-align: center;margin-top:30px;margin-bottom:20px;margin-left:70px">商品一覧画面</h3>


<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<table class="table">
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th>税抜き価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
				<% @items.each do |item| %>
				<tr>
					<th><%= item.id %></th>
					<th><%= link_to item.name, admins_item_path(item) %>
					</th>
					<th><%= item.price %></th>
					<th><%= item.category.name %></th>
					<th><%= item.status %></th>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>

