<h2>商品　新規登録画面</h2>

<div class="container">
	<div class="row">
		<%= form_for @item do |f| %>

		<% if @item.errors.any? %>
		<div class="alert alert-warning">
			<h2><%= @item.errors.count %>件のerrorがあります。</h2>
			<ul>
				<% @item.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="col-xs-4">
			<div class="field">
				<%= f.label :image %>
				<%= f.attachment_field :image %>
			</div>

		</div>

		<div class="col-xs-6">

			<table class="table">
				<tr>
					<th><%= f.label :商品名 %></th>
					<td><%= f.text_field :name, class: "col-xs-12" %></td>
				</tr>
				<tr>
					<th><%= f.label :商品説明 %></th>
					<td><%= f.text_area :body, class: "col-xs-12" %></td>
				</tr>
				<tr>
					<th><%= f.label :ジャンル %></th>
					<td>内容（コンテンツ）</td>
				</tr>
				<tr>
					<th><%= f.label :税抜き価格 %></th>
					<td><%= f.text_field :price, class: "col-xs-12" %></td>
				</tr>
				<tr>
					<th><%= f.label :販売ステータス %></th>
					<td>内容（コンテンツ）</td>
				</tr>
			</table>
		</div>

		<div class="col-xs-2">
			<%= f.submit "新規登録" %>
		</div>
		<% end %>
	</div>
</div>