<%= render 'customers/list', customer: @customer %>


<div class="container">
	<div class="row">
		<h3 style="margin-bottom:20px; padding-right: 890px"><strong>ショッピングカート</strong></h3>
		<%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, class:"btn btn-danger btn-sm",style:"color: white; padding: 9px; padding-left: 20px; padding-right: 20px;margin-left:300px;margin-left:980px;margin-bottom:10px;" %>
		<table class="table">
			<tr>
				<td>商品名</td>
				<td>単価(税込)</td>
				<td>数量</td>
				<td>小計</td>
				<td></td>
			</tr>

			<tr>
				<% @price = 0 %>
				<% @customer.cart_items.each do |cart_item| %>
				<td><%= attachment_image_tag(cart_item.item, :image ,:fill, 150, 100,fallback: "icon-no-image.svg" ,size:'120x80') %> <%= cart_item.item.name %></td>
				<td><%= (cart_item.item.price).to_i %></td>
				<%= form_for cart_item do |f| %>
				<td><%= f.select :number, options_for_select((1..10), class:"btn-btn-info", selected: cart_item.number)%>
					<%= f.submit "変更", class:"btn btn-primary btn-sm" %></td>
					<% end %>
					<td><%= (cart_item.number * cart_item.item.price).to_i %>
						<% @price += (cart_item.number * cart_item.item.price).to_i %></td>
						<td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class:"btn btn-danger btn-sm" %></td>
					</tr>
					<% end %>
				</table>
				<div class="col-xs-3">
					<%= link_to "買い物を続ける", items_path, class:"btn btn-primary btn-sm" %>
				</div>
				<p style="margin-left:870px;">
					合計金額<%= (@price).to_i %>
				</p>
				<%= link_to "情報入力へ進む", orderitem_create_path, method: :create,class:"btn btn-success btn-sm", style:"color: white; padding: 9px; padding-left: 20px; padding-right: 20px;margin-top:30px;" %>
			</div>
		</div>